<div class="nz-table">
    <nz-table #nzTable [nzData]="listOfDisplayData">
        <thead>
            <tr>
                <th>Unique No.</th>
                <th>
                    Name
                </th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Address 1</th>
                <th>Address 2</th>
                <th>Country</th>
                <th>State</th>
                <th>City</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of nzTable.data">
                <td>{{ data.unique_no }}</td>
                <td>{{ data.name }}</td>
                <td>{{ data.email }}</td>
                <td>{{ data.mobile }}</td>
                <td>{{ data.address_1 }}</td>
                <td>{{ data.address_2 }}</td>
                <td>{{ data.countryName }}</td>
                <td>{{ data.stateName }}</td>
                <td>{{ data.cityName }}</td>
                <td>
                    <a routerLink="/academy/edit/{{ data.id }}" class="edit">Edit</a>
                    <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this academy ?" (nzOnConfirm)="deleteAcademy(data.id)" nzPopconfirmPlacement="topRight" class="delete" href="#">Delete</a>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>