<nz-breadcrumb>
    <nz-breadcrumb-item routerLink="/dashboard">Dashboard</nz-breadcrumb-item>
    <nz-breadcrumb-item routerLink="/academy/manage">Academy</nz-breadcrumb-item>
    <nz-breadcrumb-item>List</nz-breadcrumb-item>
</nz-breadcrumb>
<div class="nz-table">
    <nz-table 
        #ajaxTable 
        nzShowSizeChanger
        [nzFrontPagination]="false"
        [nzData]="listOfData"
        [nzLoading]="loading"
        [nzTotal]="total"
        [(nzPageIndex)]="pageIndex"
        [(nzPageSize)]="pageSize"
        (nzPageIndexChange)="searchData()"
        (nzPageSizeChange)="searchData(true)"
     >
        <thead (nzSortChange)="sort($event)" nzSingleSort>
            <tr>                               
                <th nzLeft="0px" nzShowSort nzSortKey="unique_no">Unique No.</th>
                <th nzShowSort nzSortKey="name">Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Address 1</th>
                <th>Address 2</th>
                <th>Country</th>
                <th>State</th>
                <th>City</th>
                <th nzRight="0px">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of ajaxTable.data; index as i">
                <td nzLeft="0px">{{ data.unique_no }}</td>
                <td>{{ data.name }}</td>
                <td>{{ data.email }}</td>
                <td>{{ data.mobile }}</td>
                <td>{{ data.address_1 }}</td>
                <td>{{ data.address_2 }}</td>
                <td>{{ data.countryName }}</td>
                <td>{{ data.stateName }}</td>
                <td>{{ data.cityName }}</td>
                <td nzRight="0px">
                    <a routerLink="/academy/edit/{{ data.id }}" class="edit">Edit</a>
                    <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this academy ?"
                        (nzOnConfirm)="deleteAcademy(data.id, i)" nzPopconfirmPlacement="topRight" class="delete"
                        href="#">Delete</a>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>